body {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card {
  max-width: 540px;
  height: auto;
  box-shadow: 0px 2px 5px 1px rgba(128, 128, 128, 0.466);
  padding: 0.1rem;
  margin: 0 auto 2rem auto;
  border-radius: 5px;
}
main {
  padding: 3rem 2%;
}
